<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Players">
		<setting type="action" label="configurar metahandler" option="close" action="RunPlugin(plugin://plugin.video.kractosbr/?mode=990)" />
	    <setting label="[B][COLOR blue]Selecione abaixo seu gerenciador de torrents[/B][/COLOR]" type="lsep" /> 
	    <setting type="sep" />
        <setting label="32054" type="labelenum" id="plugin" default="Quasar" values="Elementun|Quasar|YATP"/>
		<setting type="sep" />
	    <setting label="32057" type="lsep"/>
	    <setting label="32058" type="lsep"/>
        <setting type="lsep" />
    </category>
    <category label="Idioma">
	    <setting label="[B][COLOR blue]Selecione abaixo seu idioma[/B][/COLOR]" type="lsep" />	
		<setting id="infoLang" type="select" label="30803" values="bg|cs|da|de|el|en|es|fi|fr|he|hr|hu|it|ja|ko|nl|no|pl|pt|pt-BR|ru|sl|sv|tr|zh" default="pt-BR" />
    </category>
	
	<category label="Menu do Addon">	
		<setting id="menurule" type="select" label="Ativar Não Pertube" values="Não|Sim" default="Não" />
		<setting id="menudev" type="select" label="Ativar Menu desenvolvimento" values="Não|Sim" default="Não" />
		<setting id="menukill" type="select" label="Pikachu e Kodish Trazendo Melhor Kodi para Vc" values="Não|Sim" default="Não" />
    </category>
</settings>